[Unit]
Description=Matrix Display Daemon
After=redis.service

[Service]
WorkingDirectory=/home/pi/matrix-display
ExecStart=/usr/bin/python3 /home/pi/matrix-display/display.py
StandardOutput=inherit
StandardError=inherit
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
